<div class="container">
    <br>
  <h1><%= @card.content %></h1>
    <br>
    <br>
    <!--   <form name ="card" action="/decks/<%= deck_id %>cards/<%= id %>" method="POST"> -->
      <input id="Answer" type="text" name="answer" placeholder="Your Answer Here.">
      <input type="submit" value="Submit!" />
      <br>
      <br>
      <h2>Remaining Cards:</h2>
      <h3><%= @remaining_cards %></h3>
      <h2><%= @percentage %>% complete</h2>
    </form>
</div>

<!--This page should take in the current Card object, randomly chosen from the Deck, in the form of @card.-->
<!--Params should be answer-->
